array-record==0.2.0
astunparse==1.6.3
black==23.3.0
boto3==1.26.138
bs4==0.0.1
datasets==2.12.0
dm-tree==0.1.8
flatbuffers==23.5.9
gast==0.4.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
h5py==3.8.0
importlib-resources==5.12.0
ipython==8.13.2
jax==0.4.10
keras==2.13.1rc0
libclang==16.0.0
librosa==0.10.0.post2
matplotlib==3.7.1
opensmile==2.4.2
pip==23.1.2
pipdeptree==2.7.1
promise==2.3
psutil==5.9.5
pydub==0.25.1
pytest==7.3.1
pytorch-lightning==2.0.2
tensorboard==2.13.0
termcolor==2.3.0
toml==0.10.2
transformers==4.29.2
wrapt==1.14.1
pyarrow==11.0.0